<header class="container">
  <h1>Angular testing</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, explicabo. Consequatur eius quis autem qui alias amet quam ipsam blanditiis iste in, explicabo, tempora, est numquam reprehenderit perspiciatis cupiditate laborum.</p>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/person">Person</a>
      </li>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/pico-preview">Pico Preview</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
